.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    text-align: center;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
body {
	background-color: #666699;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande'
  , 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
  height: 100%;
  width: 100%;
}
.mainheader h1{
  text-align: center;
  font-size: 300%;
  position: relative;
  margin-top: 0%;
}
.mainheader h2{
  text-align: center;
  font-size: 150%;
}
.mainheader nav {
  	background: #666;
  	font-size: 1.143em;
  	height: 40px;
  	line-height: 30px;
  	margin: 2% auto 30px auto;
  	text-align: center;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
}
.mainheader nav ul {
  	list-style: none;
  	margin: 0 auto;
  }

.mainheader nav ul li {
  	float:left;
  	display:flex;
}

.mainheader nav a:link, .mainheader nav a:visited {
  	color: #fff;
  	display: inline-block;
  	height: 30px;
  	padding: 5px 195px;
  	text-decoration: none;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
  	background: #CF5C3F;
  	color: #fff;
  	text-shadow: none;
  }

.mainheader nav li a {
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  }

.topcontent {
  	background-color: #FFF;
  	border-radius: 50px;
  	-moz-border-radius: 80px;
  	-webkit-border-radius: 50px;
  	padding: 3%;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    float: center;
}

.content {
    margin: 0 auto;
    height: 80%;
  	float: center;
  	border-radius: 50px;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
    display:flex;
    width: 100%;
  }

.postinfo {
  	font-style: italic;
  	color: #999;
  	font-size: 85%;
  }

.mainFooter {
  	width: 100%;
  	float: center;
    text-align: center;
    height:5%;
  	margin-top: 2%;
  	margin-bottom: 1%;
  	padding-left: 0;
  	background-color: #666;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	color: #FFF;
  }

  .mainFooter p {
  	width: 91%;
  	margin: 2% auto;
  }


  @media only screen and (min-width : 150px) and (max-width : 600px)
  {
    .body
    {
      width: 90%;
      font-size: 95%;
    }
    .mainheader nav
    {
      height: 160px;
    }

    .mainheader nav ul{
      padding-left: 0
    }
    .mainheader nav ul li{
      width: 100%;
      text-align: center;
    }

    .mainheader nav a:link, .mainheader nav a:visited
    {
     padding: 10px 25px;
     height: 20px;
     width: 100%;
     display: inline-block;
     float: center;
    }
    .content{
      width: 100%;
      float: left;
      margin: 2% 0 2% 0;
      height: 25vh;
      text-align: left;
      display: flex;
    }
    .topcontent
    {
      margin: 2% 0 2% 0;
    }
    .postinfo
    {
      display: none;
    }
    .para1
    {
      font-size: 2.5vw;
      display: inline-block;
    }
    .mainFooter {
  		width: 100%;
  		float: left;
  		margin: 2% 0;
  		padding-left: 0;
  		background-color: #666;
  		border-radius: 5px;
  		-moz-border-radius: 5px;
  		-webkit-border-radius: 5px;
  		color: #FFF;
  	}

  	.mainFooter p {
  		width: 86%;
  		margin: 2% auto;
  	}
  }
